/*-------------APLICADO A TODO-------------*/
body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    margin: 0 auto;
}

header {
    display: flex;
    background-color: rgb(146, 142, 137);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 0 20px 0 20px;
}

main {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

footer{
    background-color: rgb(146, 142, 137);
    padding: 10px;
}

ol, ul {
    list-style: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

input {
    display: flex;
    float: left;
    align-items: end;
}

/*-------------LOGOS-------------*/

header a i {
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.checkbtn {
    font-size: 25px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 30px;
    margin: 20px;
    cursor: pointer;
    display: none;
}

/*-------------HEADER------------*/

header nav ul {
    display: flex;
    gap: 20px; /*--espacio entre los items li--*/
    flex-wrap: wrap;
}

/*-------------FOOTER-------------*/

body footer i {
    font-size: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: rgb(42, 221, 48);
}

#footer {
    background-color: rgb(91, 83, 67);
    color: azure;
    text-align: center;
}

#btn-generar {
    background-color: white;
    padding: 5px;
    border-radius: 7px;
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*-------------BOTONES-------------*/

.button {
    /* Coloca estilos a tu botón */
    width: 70%;
    padding: 5px;
    margin-bottom: 20px;
    border: inset;
    border-radius: 20px;
}

.button {
    background-color: rgb(183, 183, 173); /* color de fondo */
    color: #fff; /* color del texto */
    cursor: pointer;
    transition: background-color 0.8s ease;
}

button:hover {
    background-color: #4a5969;
}

/*-------------ESTILOS PARA PANTALLAS-------------*/
/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
    /* Aquí puedes escribir los estilos que se aplicarán en pantallas más
    pequeñas */
    body {
    font-size: 16px;
    margin: 0 auto;
    }
    .container {
    width: 100%;
    margin: 0 auto;
    }
    header {
        background-color: brown;
        width: 100%;
        align-items: center;
        margin: 0 auto; 
        border-radius: 0;   
    }
    header a i {
        color: rgb(219, 197, 57);
        font-size: 2em;
        display: flex;
        justify-content: center;
    }
    main {
        margin: 0 ;
        display: flex;
        justify-content: center ;
        align-items: center;
        width: 110%;
    }

    /* BOTON */
    .checkbtn {
        display: block;
    }
    #encabezado ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        text-align: center;

        top: 65px;
        left: 100%;
        transition: all 0.5s;
    }
    #check:checked ~ ul {
        left: 0;
        display: block;
    }
    #encabezado nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #encabezado nav ul li a {
        font-size: 20px;
    }
    

/* Estilos para pantallas más grandes (a partir de 769px) */
@media (min-width: 769px) {
    /* Aquí puedes escribir los estilos que se aplicarán en pantallas más
    grandes */
    .container {
    width: 100%;
    margin: 0 auto;
    }
    .checkbtn {
        display: none;
    }
}
}